*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
b{
    margin-left: 20px;
}

.Home{
        margin-left: 800px;
}

.About, .Services, .Portfoilo, .Contact{
    margin-left: 20px;
}

body{
    background-image: url(pics/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    text-align: center;
    margin-top: 200px;
}
.Create{
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    color: beige;
}
p{
    color: black;
    margin-bottom: 20px;
}
button{
    color: white;
    border: none;
    background-color: rgb(107, 107, 248);
    width: 100px;
    height: 20px;
}
a{
    color: black;
    text-decoration: none;
}

